## https://bugzilla.redhat.com/show_bug.cgi?id=739446
[Unit]
Description=Prepare the live boot environment
After=sysinit.target
Before=firstboot-text.service firstboot-graphical.service mdmonitor.service mdmonitor-takeover.service crond.service atd.service crond.service lldpad.service fcoe.service multipathd.service
 
[Service]
ExecStart=-/usr/libexec/livesys/setup
ExecStartPost=/bin/systemctl disable livesys2.service
Type=oneshot
TimeoutSec=30
 
[Install]
WantedBy=basic.target
